.str-chat__channel-header .str-chat__header-hamburger {
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border: none;
  background: transparent;

  svg {
    width: 25px;
    height: 25px;
  }

  &:hover {
    svg path {
      fill: var(--primary-color);
    }
  }
}
