@tailwind base;
@tailwind components;
@tailwind utilities;

@supports (font: -apple-system-body) and (-webkit-appearance: none) {
  img[loading='lazy'] {
    clip-path: inset(0.6px);
  }
}

.google_btn {
  @apply text-black w-full bg-white hover:bg-black/90 hover:text-white focus:ring-4 focus:outline-none focus:ring-[#4285F4]/50 font-medium rounded-full text-sm px-5 py-2.5 text-center inline-flex items-center mr-2 mb-2;
}

.tapped_btn {
  margin: 1rem;
  @apply text-black min-w-[30%] bg-[#42A5F5] hover:bg-[#42A5F5]/90 focus:ring-4 focus:outline-none focus:ring-[#4285F4]/50 font-medium rounded-lg text-sm px-5 py-2.5 text-center items-center mr-2 mb-2;
}

.tapped_btn_rounded {
  margin: 1rem;
  @apply text-black min-w-[35%] bg-white hover:bg-white/90 focus:ring-4 focus:outline-none focus:ring-[#42a5f5]/50 font-medium rounded-full text-sm px-5 py-2.5 text-center items-center mr-2 mb-2;
}

.tapped_btn_rounded_black {
  margin: 1rem;
  @apply text-white min-w-[35%] bg-black hover:bg-black/90 focus:ring-4 focus:outline-none focus:ring-[#42a5f5]/50 font-medium rounded-full text-sm px-5 py-2.5 text-center items-center mr-2 mb-2;
}

.tapped_signup_btn {
  @apply text-[#42A5F5] hover:text-[#42A5F5]/90 bg-transparent whitespace-nowrap focus:ring-4 focus:outline-none focus:ring-[#4285F4]/50 font-medium rounded-lg text-sm px-5 py-2.5 text-center items-center mr-2 mb-2;
}

.base-input {
  width: 100%;
  appearance: none;
  border-radius: 0.25rem;
  border: 2px solid #63b2fd;
  background-color: #63b2fd;
  padding: 0.5rem 1rem;
  line-height: 1.5;
  color: white;
}

.base-input:focus {
  background-color: #63b2fd;
  outline: none;
}

.input-error {
  border-color: #f87171;
}

.error-text {
  margin-top: 0.5rem;
  color: #f87171;
}

.white_placeholder::placeholder {
  color: white;
  font-weight: semibold;
  opacity: 1;
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

body {
  color: #fff;
  /* background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb)); */
  /* color: 'white'; */
  background-color: #010F16;
}

#by-tapped {
  padding: 0.7rem;
  color: #4A5E68;
  background-color: #fff;
}

#apply-here {
  padding-top: 0.7rem;
  padding-bottom: 0.7rem;
  padding-left: 1.6rem;
  padding-right: 1.6rem;
  color: #000;
  background-color: #fff;
}

#learn-more {
  padding: 0.7rem;
  color: #fff;
  background-color: #4c4c4c00;
}